@model IEnumerable<SakalliTicaret.Core.Model.Entity.CategoryPropertyValue>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Panel/Views/Shared/_Layout.cshtml";
}

<div class="col-12">
    <div class="card">
        <p>
            <a href="CategoryPropertyValues/Create" class="btn btn-success btn-sm m-b-10 m-l-5">Özellik Değeri Ekle</a>
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryProperty.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Value)
                </th>
           
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryProperty.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value)
                    </td>
                   
                    
                    <td>
                        @Html.ActionLink("Düzenle", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Sil", "Delete", new { id = item.ID })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
