@using SakalliTicaret.Core.Model.Entity
@model SakalliTicaret.Core.Model.Entity.User

@{
    ViewBag.Title = "Profil Detay";
    Layout = "~/Areas/Panel/Views/Shared/_Layout.cshtml";

    string res = Model.ImageUrl != null ? Model.ImageUrl : "/Areas/Panel/Content/images/user.png";
}

<!-- Start Page Content -->
<!-- Column -->
<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <div class="card-two">
                <header>
                    <div class="avatar">
                        <img src="@res" alt="@Model.Name @Model.LastName">
                    </div>
                </header>

                <h3>@Model.Name @Model.LastName</h3>
                @*<div class="desc">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit et cupiditate deleniti.
                    </div>*@
                @*<div class="contacts">
                        <a href=""><i class="fa fa-plus"></i></a>
                        <a href=""><i class="fa fa-whatsapp"></i></a>
                        <a href=""><i class="fa fa-envelope"></i></a>
                        <div class="clear"></div>
                    </div>*@
            </div>
        </div>
    </div>
</div>
<!-- Column -->
<!-- Column -->
<div class="col-lg-12">
    <div class="card">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs profile-tab" role="tablist">
            @*<li class="nav-item"> <a class="nav-link active show" data-toggle="tab" href="#home" role="tab" aria-selected="true">Hareketler</a> </li>*@
            @*<li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile" role="tab" aria-selected="false">Profil</a> </li>*@
            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#settings" role="tab" aria-selected="false">Ayarlar</a> </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            @*<div class="tab-pane active show" id="home" role="tabpanel">
                    <div class="card-body">
                        <div class="profiletimeline">
                            <div class="sl-item">
                                <div class="sl-left"> <img src="images/users/avatar-1.jpg" alt="user" class="img-circle"> </div>
                                <div class="sl-right">
                                    <div>
                                        <a href="#" class="link">Michael Qin</a> <span class="sl-date">5 minutes ago</span>
                                        <p>assign a new task <a href="#"> Design weblayout</a></p>
                                        <div class="row">
                                            <div class="col-lg-3 col-md-6 m-b-20"><img src="images/big/img1.jpg" class="img-responsive radius"></div>
                                            <div class="col-lg-3 col-md-6 m-b-20"><img src="images/big/img2.jpg" class="img-responsive radius"></div>
                                            <div class="col-lg-3 col-md-6 m-b-20"><img src="images/big/img3.jpg" class="img-responsive radius"></div>
                                            <div class="col-lg-3 col-md-6 m-b-20"><img src="images/big/img4.jpg" class="img-responsive radius"></div>
                                        </div>
                                        <div class="like-comm"> <a href="javascript:void(0)" class="link m-r-10">2 comment</a> <a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-heart text-danger"></i> 5 Love</a> </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="sl-item">
                                <div class="sl-left"> <img src="images/users/avatar-2.jpg" alt="user" class="img-circle"> </div>
                                <div class="sl-right">
                                    <div>
                                        <a href="#" class="link">Michael Qin</a> <span class="sl-date">5 minutes ago</span>
                                        <div class="m-t-20 row">
                                            <div class="col-md-3 col-xs-12"><img src="images/big/img1.jpg" alt="user" class="img-responsive radius"></div>
                                            <div class="col-md-9 col-xs-12">
                                                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. </p> <a href="#" class="btn btn-success"> Design weblayout</a>
                                            </div>
                                        </div>
                                        <div class="like-comm m-t-20"> <a href="javascript:void(0)" class="link m-r-10">2 comment</a> <a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-heart text-danger"></i> 5 Love</a> </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="sl-item">
                                <div class="sl-left"> <img src="images/users/avatar-3.jpg" alt="user" class="img-circle"> </div>
                                <div class="sl-right">
                                    <div>
                                        <a href="#" class="link">Michael Qin</a> <span class="sl-date">5 minutes ago</span>
                                        <p class="m-t-10">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.
                                            Praesent mauris. Fusce nec tellus sed augue semper
                                        </p>
                                    </div>
                                    <div class="like-comm m-t-20"> <a href="javascript:void(0)" class="link m-r-10">2 comment</a> <a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-heart text-danger"></i> 5 Love</a> </div>
                                </div>
                            </div>
                            <hr>
                            <div class="sl-item">
                                <div class="sl-left"> <img src="images/users/avatar-4.jpg" alt="user" class="img-circle"> </div>
                                <div class="sl-right">
                                    <div>
                                        <a href="#" class="link">Michael Qin</a> <span class="sl-date">5 minutes ago</span>
                                        <blockquote class="m-t-10">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
            <!--second tab-->
            <div class="tab-pane" id="profile" role="tabpanel">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3 col-xs-6 b-r">
                            <strong>Full Name</strong>
                            <br>
                            <p class="text-muted">John Deo</p>
                        </div>
                        <div class="col-md-3 col-xs-6 b-r">
                            <strong>Mobile</strong>
                            <br>
                            <p class="text-muted">(123) 456 7890</p>
                        </div>
                        <div class="col-md-3 col-xs-6 b-r">
                            <strong>Email</strong>
                            <br>
                            <p class="text-muted">Zebra Theme@gmail.com</p>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <strong>Location</strong>
                            <br>
                            <p class="text-muted">London</p>
                        </div>
                    </div>
                    <hr>
                    <p class="m-t-30">
                        Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.Cras dapibus. Vivamus
                        elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
                    </p>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                        it to make a type specimen book. It has survived not only five centuries
                    </p>
                    <p>
                        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                    <h4 class="font-medium m-t-30">Skill Set</h4>
                    <hr>
                    <h5 class="m-t-30">Wordpress <span class="pull-right">80%</span></h5>
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%; height:6px;"> <span class="sr-only">50% Complete</span> </div>
                    </div>
                    <h5 class="m-t-30">HTML 5 <span class="pull-right">90%</span></h5>
                    <div class="progress">
                        <div class="progress-bar bg-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%; height:6px;"> <span class="sr-only">50% Complete</span> </div>
                    </div>
                    <h5 class="m-t-30">jQuery <span class="pull-right">50%</span></h5>
                    <div class="progress">
                        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%; height:6px;"> <span class="sr-only">50% Complete</span> </div>
                    </div>
                    <h5 class="m-t-30">Photoshop <span class="pull-right">70%</span></h5>
                    <div class="progress">
                        <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%; height:6px;"> <span class="sr-only">50% Complete</span> </div>
                    </div>
                </div>
            </div>
            @using (Html.BeginForm("Edit","Users",FormMethod.Post))
            {
                <div class="tab-pane active" id="settings" role="tabpanel">
                    <div class="card-body">
                        <form class="form-horizontal form-material">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, htmlAttributes: new {@class = "control-label col-md-2"})
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control"}})
                                    @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.LastName, htmlAttributes: new {@class = "control-label col-md-2"})
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.LastName, new {htmlAttributes = new {@class = "form-control"}})
                                    @Html.ValidationMessageFor(model => model.LastName, "", new {@class = "text-danger"})
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new {@class = "control-label col-md-2"})
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.Email, new {htmlAttributes = new {@class = "form-control"}})
                                    @Html.ValidationMessageFor(model => model.Email, "", new {@class = "text-danger"})
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Telephone, htmlAttributes: new {@class = "control-label col-md-2"})
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.Telephone, new {htmlAttributes = new {@class = "form-control"}})
                                    @Html.ValidationMessageFor(model => model.Telephone, "", new {@class = "text-danger"})
                                </div>
                            </div>
                            @Html.HiddenFor(model=>model.ID)
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input type="submit" value="Güncelle" class="btn btn-success" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Column -->
<!-- End PAge Content -->
@*<h2>Details</h2>

    <div>
        <h4>User</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ImageUrl)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Telephone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Telephone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Password)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Password)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TCKN)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TCKN)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsActive)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsAdmin)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsAdmin)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreateDateTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreateDateTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreateUserID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreateUserID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UpdateDateTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UpdateDateTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UpdateUserID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UpdateUserID)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
