@model IEnumerable<SakalliTicaret.Core.Model.Entity.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Panel/Views/Shared/_Layout.cshtml";
}
<div class="col-12">
    <div class="card">
        <div class="row">
            <div class="col-6">
                <a href="/Panel/Users/Create" class="btn btn-success btn-sm m-b-10 m-l-5">Admin Ekle</a>
            </div>
            <div class="col-6">
                <p class="float-right">
                    <a href="/Panel/Users/Index/1" class="btn btn-success btn-sm m-b-10 m-l-5">Adminler</a>
                    <a href="/Panel/Users/Index/2" class="btn btn-success btn-sm m-b-10 m-l-5">Engellenen Adminler</a>
                    <a href="/Panel/Users/Index/3" class="btn btn-success btn-sm m-b-10 m-l-5">Müşteriler</a>
                    <a href="/Panel/Users/Index/4" class="btn btn-success btn-sm m-b-10 m-l-5">Engenllenen Müşteriler</a>
                </p>
            </div>
        </div>
        <div class="table-responsive">

            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name) @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Telephone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreateDateTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsMailSuccess)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsAdmin)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name) @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telephone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreateDateTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsMailSuccess)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsActive)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsAdmin)
                        </td>
                        <td>
                            @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Detay", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Sil", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }


            </table>
        </div>
    </div>
</div>
