@model SakalliTicaret.Core.Model.Entity.User
@{
    ViewBag.Title = "Sakallı Ticaret | Giriş Sayfası";
    Layout = "~/Views/Shared/_LayoutPageBlank.cshtml";
}
<div class="col-md-4"></div>
<div class="col-md-4">
    <div class="card">
        <div class="card-header">
            
        </div>
        <div class="card-body">
            @using (Html.BeginForm("Login","Users",FormMethod.Post))
            {
                @Html.AntiForgeryToken()


                 
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="col-md-12">
                    <h4>Üye Girişi</h4>
                    <hr/>
                </div>
             
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email)
                       
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
              
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Password)
                       
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control" } )
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-12"> 
                    <div class="form-group text-center">
                        <input type="submit" value="Giriş Yap" class="btn btn-fill btn-block" />
                    </div>
                </div>
               
            }
            <div class="col-md-12">
                <hr />
            </div>
            <div class="col-md-12">
                
                <div class="form-group text-center">
                    <h4>ÜYE DEĞİL MİSİNİZ?</h4>
                    <p>Hemen Üye Olun</p>
                    <a class="btn btn-fill btn-block" href="/UyeOlmadanTamamla">Üye Olmadan Devam Et</a>
                    <a class="btn btn-fill btn-block" href="/Kullanici/Kayit">Kayıt Ol</a>

                </div>
            </div>
        </div>
    </div>
   
</div>
<div class="col-md-4"></div>

