@model IEnumerable<SakalliTicaret.Core.Model.Entity.UserAddress>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageBlank.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDefault)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateUserId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDefault)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateUserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateUserId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
