@using SakalliTicaret.Core.Model
@using SakalliTicaret.Core.Model.Entity
@using SakalliTicaret.UI.WEB.App_Class
@model SakalliTicaret.UI.WEB.App_Class.BasketClass
@{

}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:v="urn:schemas-microsoft-com:vml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" />
    <meta name="viewport" content="width=600,initial-scale = 2.3,user-scalable=no">
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700' rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel="stylesheet">
    <link href='http://sakalliticaret.com/Content/bootstrap.css' rel="stylesheet" />
    <link href='http://sakalliticaret.com/Content/css/StyleSheet.css' rel="stylesheet" />
    <link href='http://sakalliticaret.com/Content/css/style.css' rel="stylesheet" />

    <!-- <![endif]-->
    <title>Material Design for Bootstrap</title>
    <style type="text/css">
        body {
            width: 100%;
            background-color: #ffffff;
            margin: 0;
            padding: 0;
            -webkit-font-smoothing: antialiased;
            mso-margin-top-alt: 0px;
            mso-margin-bottom-alt: 0px;
            mso-padding-alt: 0px 0px 0px 0px;
        }

        p,
        h1,
        h2,
        h3,
        h4 {
            margin-top: 0;
            margin-bottom: 0;
            padding-top: 0;
            padding-bottom: 0;
        }

        span.preheader {
            display: none;
            font-size: 1px;
        }

        html {
            width: 100%;
        }

        table {
            font-size: 14px;
            border: 0;
        }
        /* ----------- responsivity ----------- */

        @@media only screen and (max-width: 640px) {
            /*------ top header ------ */
            .main-header {
                font-size: 20px !important;
            }

            .main-section-header {
                font-size: 28px !important;
            }

            .show {
                display: block !important;
            }

            .hide {
                display: none !important;
            }

            .align-center {
                text-align: center !important;
            }

            .no-bg {
                background: none !important;
            }
            /*----- main image -------*/
            .main-image img {
                width: 440px !important;
                height: auto !important;
            }
            /* ====== divider ====== */
            .divider img {
                width: 440px !important;
            }
            /*-------- container --------*/
            .container590 {
                width: 440px !important;
            }

            .container580 {
                width: 400px !important;
            }

            .main-button {
                width: 220px !important;
            }
            /*-------- secions ----------*/
            .section-img img {
                width: 320px !important;
                height: auto !important;
            }

            .team-img img {
                width: 100% !important;
                height: auto !important;
            }
        }

        @@media only screen and (max-width: 479px) {
            /*------ top header ------ */
            .main-header {
                font-size: 18px !important;
            }

            .main-section-header {
                font-size: 26px !important;
            }
            /* ====== divider ====== */
            .divider img {
                width: 280px !important;
            }
            /*-------- container --------*/
            .container590 {
                width: 280px !important;
            }

            .container590 {
                width: 280px !important;
            }

            .container580 {
                width: 260px !important;
            }
            /*-------- secions ----------*/
            .section-img img {
                width: 280px !important;
                height: auto !important;
            }
        }
    </style>
</head>

<body class="respond" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
    <!-- pre-header -->
    <table style="display:none!important;">
        <tr>
            <td>
                <div style="overflow:hidden;display:none;font-size:1px;color:#ffffff;line-height:1px;font-family:Arial;max-height:0px;max-width:0px;opacity:0;">
                    Pre-header for the newsletter template
                </div>
            </td>
        </tr>
    </table>
    <!-- pre-header end -->
    <!-- header -->
    <table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="ffffff">
        <tr>
            <td align="center">
                <table border="0" align="center" width="590" cellpadding="0" cellspacing="0" class="container590">
                    <tr>
                        <td height="25" style="font-size: 25px; line-height: 25px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td align="center">
                            <table border="0" align="center" width="590" cellpadding="0" cellspacing="0" class="container590">
                                <tr>
                                    <td align="center" height="70" style="height:70px;">
                                        <a href="" style="display: block; border-style: none !important; border: 0 !important;">
                                            <img width="100" border="0" style="display: block; width: 300px;"
                                                 src="http://sakalliticaret.com/Content/Images/sakallilogo.png" alt="" />
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td height="25" style="font-size: 25px; line-height: 25px;">&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <!-- end header -->
    <!-- big image section -->
    <table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="ffffff" class="bg_color">
        <tr>
            <td align="center">
                <table border="0" align="center" width="590" cellpadding="0" cellspacing="0" class="container590">

                    <tr>
                        <td align="center" style="color: #343434; font-size: 24px; font-family: Quicksand, Calibri, sans-serif; font-weight:700;letter-spacing: 3px; line-height: 35px;"
                            class="main-header">

                            <div style="line-height: 35px">
                                Teşekkürler,  <span style="color: #e8353b;">siparişinizi aldık! </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td height="10" style="font-size: 10px; line-height: 10px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td align="center">
                            <table border="0" width="40" align="center" cellpadding="0" cellspacing="0" bgcolor="eeeeee">
                                <tr>
                                    <td height="2" style="font-size: 2px; line-height: 2px;">&nbsp;</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td height="20" style="font-size: 20px; line-height: 20px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td align="center">

                            <table border="0" width="400" align="center" cellpadding="0" cellspacing="0" class="container590">
                                <tr>
                                    <td align="center" style="color: #888888; font-size: 16px; font-family: 'Work Sans', Calibri, sans-serif; line-height: 24px;">

                                        <div style="line-height: 24px">
                                            Merhaba @Model.User.Name @Model.User.LastName Bizi Tercih Ettiğiniz İçin Teşekkür Ederiz.<br />
                                            Sipariş Numaranız @Model.BasketKey / Sipariş Tarihi @DateTime.Now.ToString("MM/dd/yyyy") <br />
                                            Aşağıda Siparişinizle Alakalı Detayları Görebilirsiniz.
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td height="25" style="font-size: 25px; line-height: 25px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Adres Bilgileriniz</h4><hr />
                            <table width="590" class="container590">
                                <tr>
                                    <td width="50%"><b>Başlık</b>:@Model.UserAddress.Title</td>
                                    <td width="50%"><b>Şehir</b>:@Model.UserAddress.City</td>
                                </tr>
                                <tr>
                                    <td width="50%"><b>Telefon</b>:@Model.UserAddress.Phone</td>
                                </tr>
                                <tr width="100%">
                                    <td colspan="2">
                                        <b>Adres</b>:@Model.UserAddress.Address
                                    </td>
                                </tr>
                            </table>
                            <hr />
                        </td>


                    </tr>
                    <tr>
                        <td height="20" style="font-size: 20px; line-height: 20px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td align="center" class="section-img">
                        

                                <div class="basketlist">

                                    <table class="table-fill">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Resim</th>
                                                <th>Adı</th>
                                                <th width="80">Birim Fiyat</th>
                                                <th width="50">Adet</th>
                                                <th width="90">Top. Fiyat</th>

                                            </tr>
                                        </thead>
                                        <tbody class="table-hover">
                                           @foreach (var item in Model.Products)
                                           {
                                               <tr>
                                                   <td>
                                                       
                                                   </td>
                                                   <td class="text-left">
                                                       <div class="sepetimage">
                                                           @{
                                                               string productImage = "http://sakalliticaret.com" + item.Product.ImageUrl;
                                                           }
                                                           <img src="@productImage" width="100"/>

                                                       </div>
                                                   </td>
                                                   <td class="text-left">
                                                       <a href="Urun/@item.Product.Id/@item.Product.Name.Replace(" ", "").ToLower()" target="_blank">
                                                           @item.Product.Name <br>
                                                           <ul class="basketproperylist"></ul>

                                                       </a>
                                                   </td>

                                                   <td class="text-left">@item.Product.Price ₺</td>
                                                   <td class="text-left">@item.Quantity</td>
                                                   <td class="text-left">@item.Total ₺</td>

                                               </tr>
                                           }

                                        </tbody>
                                    </table>
                                    <div class="sepetozet text-right margin-t-20 margin-b-20">
                                        <div><b>Toplam:</b>@Model.Products.Count Ürün</div>
                                        <div>
                                            <b>Toplam Tutar:</b>@Model.SubTotal ₺
                                        </div>

                                    </div>
                                </div>

                          
                        </td>
                    </tr>

                </table>
            </td>
        </tr>
        <tr class="hide">
            <td height="25" style="font-size: 25px; line-height: 25px;">&nbsp;</td>
        </tr>
        <tr>
            <td height="40" style="font-size: 40px; line-height: 40px;">&nbsp;</td>
        </tr>
    </table>
    <!-- end section -->
    <!--  50% image -->
    <table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="ffffff">
        <tr>
            <td align="center">
                <table border="0" align="center" width="590" cellpadding="0" cellspacing="0" class="container590">
                    <tr>
                        <td></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td height="40" style="font-size: 40px; line-height: 40px;">&nbsp;</td>
        </tr>
    </table>
    <!-- end section -->
    <!-- end section -->
    <!-- footer ====== -->
    <table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="f4f4f4">
        <tr>
            <td height="25" style="font-size: 25px; line-height: 25px;">&nbsp;</td>
        </tr>

        <tr>
            <td align="center">
                <table border="0" align="center" width="590" cellpadding="0" cellspacing="0" class="container590">
                    <tr>
                        <td width="150"></td>
                        <td>
                            <img width="100" border="0" style="display: block; width: 300px;"
                                 src="http://sakalliticaret.com/Content/Images/sakallilogo.png" alt="" />
                        </td>
                        <td width="150">
                        <td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td height="25" style="font-size: 25px; line-height: 25px;">&nbsp;</td>
        </tr>
    </table>
    <!-- end footer ====== -->
</body>
</html>