@model IEnumerable<SakalliTicaret.Core.Model.Entity.Slider>

 <div class="flexslider xt-slider-inner">
     <ul class="slides">
         @foreach (var item in Model)
         {
             <li class="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
                 <img src="@item.ImageUrl" />
                 <div class="slide_text">
                     <h2 class="slide_title">@item.Title</h2>
                     <p class="slide_byline ">
                        @item.Description
                     </p>
                     <a href="@item.Url" class="btn btn-fill ">@item.ButtonText</a>
                 </div>
             </li>
         }
      
     </ul>
  
</div>
