
@using System.Text.RegularExpressions
@using SakalliTicaret.Core.Model.Entity
@using SakalliTicaret.UI.WEB.App_Class

@model IEnumerable<SakalliTicaret.Core.Model.Entity.Category>

@{
    Functions functions = new Functions();
}

@if (@ViewBag.ParentCategory != null)
{
    Category parentCategory = ViewBag.ParentCategory;

    <li style="margin: 0 0 0 -10px;">
        @{
            string returnUrl = "";
            if (parentCategory.ParentCategoryId == null || parentCategory.ParentCategoryId == 0)
            {
                returnUrl = "/Anasayfa";
            }
            else
            {
                returnUrl = "/Anasayfa/Kategori/" + parentCategory.ParentCategoryId + "/" + functions.UrlClear(parentCategory.Name);
            }
        }

        <a href="@returnUrl">
            <i class="fa fa-arrow-left"></i>
            <strong>
                @parentCategory.Name
            </strong>

        </a>
    </li>
            }

@foreach (var item in Model)
{
    <li id="@item.Id">
        @{
            string url = "/Anasayfa/Kategori/" + @item.Id + "/" + functions.UrlClear(item.Name);
        }
        <a href="@url">
            <i class="fa fa-circle"></i>
            <strong>
                @item.Name
            </strong>
        </a>
    </li>


            }