@model SakalliTicaret.Core.Model.Entity.Category

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Panel/Views/Shared/_Layout.cshtml";
}
<div class="col-12">
    <div class="card">
        <h2>Sil</h2>

        <h4>
            Kategoriye ve kategorinin alt kategorisine bağlı ürünler kategorisiz hale gelicektir.<br />
            Kategoriye bağlı alt kategoriler silinecektir.<br />
            Kategoriyi silmek istediğinize emin misiniz?
        </h4>
        <div>
            <hr />
            <dl class="dl-horizontal">

                <dd>
                    @Html.DisplayFor(model => model.ParentCategory.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsActive)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsActive)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CreateDateTime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CreateDateTime)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CreateUser.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CreateUser.Name)
                </dd>



            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Sil" class="btn btn-default" /> |
                    @Html.ActionLink("Kategori Listesi", "Index")
                </div>
            }
        </div>
    </div>
</div>
