@model IEnumerable<SakalliTicaret.Core.Model.Entity.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Panel/Views/Shared/_Layout.cshtml";
}

<link href="~/Areas/Panel/Content/css/lib/nestable/nestable.css" rel="stylesheet" />
<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Kategori Listesi</h4>
            <div class="card-content">
                <div class="nestable">
                    <div class="dd" id="nestable3">

                        @Html.Raw(ViewBag.KategoriList)
                        @*<ol class="dd-list">
            <li class="dd-item dd3-item" data-id="13">
                <div class="dd-handle dd3-handle"></div>
                <div class="dd3-content">Item 13</div>
            </li>
            <li class="dd-item dd3-item" data-id="14">
                <div class="dd-handle dd3-handle"></div>
                <div class="dd3-content">Item 14</div>
            </li>
            <li class="dd-item dd3-item" data-id="14">
                <div class="dd-handle dd3-handle"></div>
                <div class="dd3-content">Item 16</div>
            </li>
            <li class="dd-item dd3-item" data-id="14">
                <div class="dd-handle dd3-handle"></div>
                <div class="dd3-content">Item 17</div>
            </li>
            <li class="dd-item dd3-item" data-id="14">
                <div class="dd-handle dd3-handle"></div>
                <div class="dd3-content">Item 18</div>
            </li>
            <li class="dd-item dd3-item" data-id="14">
                <div class="dd-handle dd3-handle"></div>
                <div class="dd3-content">Item 19</div>
            </li>
            <li class="dd-item dd3-item" data-id="15">
                <button data-action="collapse" type="button">Collapse</button><button data-action="expand" type="button" style="display: none;">Expand</button>
                <div class="dd-handle dd3-handle"></div>
                <div class="dd3-content">Item 15</div>
                <ol class="dd-list">
                    <li class="dd-item dd3-item" data-id="16">
                        <div class="dd-handle dd3-handle"></div>
                        <div class="dd3-content">Item 16</div>
                    </li>
                    <li class="dd-item dd3-item" data-id="17">
                        <div class="dd-handle dd3-handle"></div>
                        <div class="dd3-content">Item 17</div>
                    </li>
                    <li class="dd-item dd3-item" data-id="18">
                        <div class="dd-handle dd3-handle"></div>
                        <div class="dd3-content">Item 18</div>
                    </li>
                </ol>
            </li>
        </ol>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@*<div class="col-12">
    <div class="card">
        <p>
            <a href="/Panel/Categories/Create" class="btn btn-success btn-sm m-b-10 m-l-5">Kategori Ekle</a>
        </p>
        <table class="table">
            <tr>
                <th>
                    Üst Kategori Adı
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreateDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreateUserId)
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ParentCategory.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateDateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateUser.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Detay", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Sil", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>*@

