@using SakalliTicaret.UI.WEB.App_Class

@{
    ViewBag.Title = "Ödeme";
    Layout = "~/Views/Shared/_LayoutPageBlank.cshtml";
}

<h2>Ödeme Ekranı</h2>
@if (Session["qToken"] != null)
{
    <iframe visible="true" runat="server" id="paytriframe" frameborder="0" scrolling="no" style="width: 100%; min-height: 500px;" src="@ViewBag.Src"></iframe>
}
@{
    BasketClass s = (BasketClass)Session["AktifSepet"];
}
Sepet Id: @s.BasketId;<br/>
Sepet Key: @s.BasketKey;<br/>
User Id: @s.UserId;<br/>
Adres Id: @s.AddressId;
