@model SakalliTicaret.UI.WEB.App_Class.BasketClass
<div class="basketminicontainer">
    <div class="basketdiv">
        <div class="basketItem">
            <ul>
                @if (Model != null)
                {
                    foreach (var item in Model.Products)
                    {
                        <li>
                            <a href="Urun/@item.Product.Id/@item.Product.Name.Replace(" ","").ToLower()">
                                <div class="basketimagediv">
                                    <img src="/Content/Images/Products/@item.Product.ImageUrl" alt="">

                                </div>
                                <div class="basketProductInfo">
                                    <h3 title="@item.Product.Name">@(item.Product.Name.Length < 25 ? item.Product.Name : item.Product.Name.Substring(0, 25) + "...")</h3>
                                    <span class="cart-price">@item.Product.Price ₺ x @item.Quantity = @item.Total</span>

                                </div>
                                <div style="clear: both"></div>
                            </a>

                        </li>

                    }
                }
            </ul>
        </div>
        <div class="basketfooter">
            <a href="/Sepetim">
                Sepete Git
            </a>
        </div>

    </div>
</div>
