@model SakalliTicaret.UI.WEB.App_Class.BasketClass

    <div class="basketBaslik">
        Sepetim
    </div>
    <div class="basketItem">
        <ul>
            @if (Model != null)
            {
                foreach (var item in Model.Products)
                {
                    <li>
                        <a href="Urun/@item.Product.ID/@item.Product.Name.Replace(" ","").ToLower()">
                            <div class="basketimagediv">
                                <img src="@item.Product.ImageUrl" alt="">

                            </div>
                            <div class="basketProductInfo">
                                <h3>@item.Product.Name</h3>
                                <span class="cart-price">@item.Product.Price ₺ x @item.Quantity = @item.Total</span>

                            </div>
                            <div style="clear: both"></div>
                        </a>

                    </li>

                }
            }
        </ul>
    </div>
   
    <div class="basketfooter">
        <a href="/Sepetim">
            Sepete Git
        </a>
    </div>

@*<ul>
        <li class="dropdown">
            <a href="/Sepetim" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                <i class="fa flaticon-shopping-cart"></i>
            </a>
            <ul class="dropdown-menu xt-cart-items">
                @if (Model != null)
                {
                    foreach (var item in Model.Products)
                    {
                        <li>
                            <a href="">
                                <img src="@item.Product.ImageUrl" alt="">
                                <h3>@item.Product.Name</h3>
                                <span class="cart-price">@item.Product.Price ₺ x @item.Quantity = @item.Total</span>
                            </a>
                        </li>
                    }


                }
                else
                {
                    <li>
                        <a href="">
                            <h3>Sepetinizde Ürün Bulunmamakta!</h3>
                        </a>
                    </li>
                }
            </ul>
        </li>
    </ul>
    @if (Model != null)
    {
        <span class="xt-item-count">@Model.Products.Count</span>
    }
    else
    {
        <span class="xt-item-count">0</span>

    }*@