@model IEnumerable<SakalliTicaret.Core.Model.Entity.Product>
@{
    ViewBag.Title = "Sakalli Ticaret | Yeni Ürünler";

    Layout = "~/Views/Shared/_LayoutPageBlank.cshtml";
}


<div class="col-md-12">

    @foreach (var item in Model)
    {
        <div class="col-md-3 col-sm-3">
            <div class="xt-feature">
                <div class="product-img">
                    <a href="~/Product/Detail?id=@item.ID">
                        <img src="@item.ImageUrl" class="img-responsive"/>

                    </a>

                </div>
                <div class="product-info">
                    <div class="product-title">
                        <span class="category xt-uppercase">@item.Name</span>
                        <span class="name xt-semibold">@item.Model Model</span>
                    </div>
                    <div class="price-tag pull-right">
                        @*<span class="old-price"><del>$280</del></span>*@
                        <span class="new-price xt-semibold">@item.Price ₺</span>
                    </div>
                    <div class="xt-featured-caption">
                        <div class="product-title">
                            <span class="category xt-uppercase">@item.Name</span>
                            <span class="name xt-semibold">@item.Model Model</span>
                        </div>
                        <div class="price-tag pull-right">
                            @*<span class="old-price"><del>$280</del></span>*@
                            <span class="new-price xt-semibold">@item.Price ₺</span>
                        </div>
                        <div class="add-cart">
                            <a href="" class="btn btn-fill">Sepete Ekle</a>
                            @*<ul class="reaction">
                                <li><a href=""><i class="fa fa-search"></i></a></li>
                                <li><a href=""><i class="fa fa-heart-o"></i></a></li>
                                <li><a href=""><i class="fa fa-bar-chart-o"></i></a></li>
                            </ul>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
