@model SakalliTicaret.Core.Model.Entity.UserAddress

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPageBlank.cshtml";
}

<h2>Details</h2>

<div>
    <h4>UserAddress</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateUserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateUserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateUserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateUserID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
